.roomsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  /* max-height: calc(100% - 100px); */
  width: 100%;
  box-sizing: border-box;
  /* min-height: calc(100% - 60px); */
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}