.link {
  text-decoration: none;
  color: #fff;
  width: 100%;
}

.container {
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 5px;
  width: 80%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.container:active {
  opacity: 0.5;
}