.container {
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
  min-height: calc(100vh - 80px);
}

.rooms {
  box-sizing: border-box;
  width: 25%;
  max-width: 300px;
  min-height: 120%;
  max-height: calc(100vh - 86px);
  display: flex;
  flex-direction: column;
  justify-content: 'space-between';
}

.chat {
  border: 3px solid blue;
  box-sizing: border-box;
  flex-grow: 1;  
}



/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.roomFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: #1A1A1D;
} */