.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.roomFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: #1A1A1D;
}