.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.logo {
  height: 30%;
  width: 30%;
  margin-bottom: 10px;
}
.heading {
  color: #1a1a1d;
  font-size: 2.5em;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px solid grey;
  width: 30vw;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 15px;
  width: 30vw;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.button:active {
  opacity: 0.5;
}
