.textRecieve {
  max-width: 60%;
  background: lightgrey;
  border-radius: 15px;
  padding: 8px;
  color: #000;
  align-self: flex-start;
  margin: 3px;
  box-shadow: 5px 10px 18px #888888;
  margin-left: 20px;
}
.textSend {
  max-width: 60%;
  background:  #2979FF;
  border-radius: 15px;
  padding: 8px;
  align-self: flex-end;
  margin: 3px;
  color: white;
  box-shadow: 5px 10px 18px #888888;
  margin-right: 20px;
}

.message {
  padding: 3px;
  margin: 0;
  font-size: .8rem;
  line-height: 10px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  text-align: start;
}