.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 370px;
  padding: 16px;
}
.heading {
  color: white;  
  font-size: 2.5em;  
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;  
  border-bottom: 2px solid white;
  width: 350px;
}

.form-input {
  border: none;  
  border-radius: 8px;  
  padding-top: 10px;  
  padding-left: 10px;  
  padding-bottom: 10px;  
  font-size: 1.2em;
  outline: none;
  margin: 10px;
  width: 338px;
}

.submitButton {
  color: #fff !important;    
  text-transform: uppercase;    
  text-decoration: none;    
  background: #2979FF;    
  padding: 15px;
  width: 350px;    
  border-radius: 5px;    
  display: inline-block;    
  border: none;         
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.submitButton:active {
  opacity: 0.5;
}
